article.finaeon{
    margin:50px auto 50px ;
}

article.finaeon .finDesBottomWrap{
    margin:-20px auto 50px ;
}

section.finaeonHero{
    height:350px;
    position:relative;
    transition:.3s;
    overflow: hidden;
    /* background-image:
    linear-gradient(155deg, black 0%, #13A79D 90%);
    background-position: center;
    background-repeat:no-repeat; */
}

.finaeonIconContain{
    width:125px;
    height:125px;
    margin:0 auto 0px;
}

.finaeonIconContain img{
    width:100%;
}

.finaeonHeadWrap{
    position:relative;
    top:20%;
}

.finaeonHero h2{
    text-align:center;
    color:white;
    font-size:60px;
    font-weight:200;
}

.finaeon h3{
    font-weight:300;
    width:100%;
}

.tabsContain.finaeon{
     outline:0px solid red;
     margin:15px auto 50px;
     max-width:1015px;
}



.tabsContain.finaeon ul li{
    font-size: 24px;
  }

.tabsContain.finaeon ul li{
    text-align:center;
    width:33%;
}

@media only screen and (max-width:470px){
    .tabsContain.finaeon ul li,
    .tabsContain.finaeon ul li:first-child,
    .tabsContain.finaeon ul li:last-child{
        text-align:center;
        width:100%;
      }

    section.finaeonHero{
        height:225px;
        position:relative;
        transition:.3s;
        overflow: hidden;
        /* background-image:
        linear-gradient(155deg, black 0%, #13A79D 70%);
        background-position: center;
        background-repeat:no-repeat; */
  }

    .finaeonIconContain{
        width:100px;
        height:100px;
        margin:0 auto 0px;
  }

     .finaeonHero h2{
        font-size:29px;
        margin-top:-15px;
  }
}

.finaeonDescriptionText h5{
  margin:35px 0px;
  font-weight:600;
}

/* @media only screen and (max-width:330px){


  section.finaeonHero{
    height:225px;
    position:relative;
    transition:.3s;
    overflow: hidden;
    background-image: url("../images/finaeon-logo-white-225.png"),
    linear-gradient(155deg, black 0%, #13A79D 70%);
    background-position: center;
    background-repeat:no-repeat;

  }


} */
