

.dropdown-toggle::after{
  display:none;
}

.wrap{
  padding-top:0px;

}

.navMainWrap, .navWrapAll
{
background-color:white;
}


/*****NAVIGATION******/

#topNavMain{
outline:0px solid red;
padding:8px 0px 0px 20px;
width:62%;
max-width:600px;
z-index:1000;
}

#topNavMain ul li a{
   font-size:15px;
   font-family:open sans, arial, sans-serif;
   font-weight:600;
   letter-spacing:0px;
   color:black;
   transition:.3s;
   margin:-8px 7px 0 2px;
   height:88px;
   padding:35px 10px 0;
   outline:0px solid red;
}

#topNavMain ul li a:hover{
  color: #13a79d;
  border-bottom: 7px solid #13a79d;
}


#topNavMain ul li a.dropdown-item{
   font-size:13px;
   font-family:open sans, arial, sans-serif;
   letter-spacing:0px;
   color:black;
   transition:.3s;
   height:30px;
   padding:5px 15px 0;
   margin:0;
}


#topNavMain ul li a:hover{
   /*background-color:#E9E6E4;*/
   background-color:white;

}

#topNavMain .dropdown-item:hover #topNavMain ul li a{
   background-color:#E9E6E4;

}

#topNavMain ul li a:focus{
    background-color:#edeceb;
}

.navWrapAll
{

}

.navMainWrap{
width:95%;
max-width:1180px;
margin:0 auto;
outline:0px solid red;
}





a#CTA{
    display:block;
    float:right;
    margin:-65px 0px;
    color:white;
    background-color:#e78024;
    padding:10px 20px 10px 20px;
    font-size:16px;
    font-weight:600;
    border-radius:5px;
    font-family:open sans, arial, sans-serif;
    transition:.3s;
    z-index:100;
}


a#CTAmobile{
    display:none;
}

a#CTA:hover{
    text-decoration:none;
    background-color:#d5670a;
}

a#logo{
    margin:22px 0 0;
    display:block;
    float:left;
     outline:0px solid red;
}

a#logo img{
    width:270px;
    transition:.3s;
}



.navTopWrap{
      background-color:#2D2C29;
      height:36px;

}
.navTopWrap h6
{
    color:white;
    margin-top:7px;
    outline:0px solid red;
    font-style:italic;
    font-size:13.5px;
}

.navTopWrap h6 span
{
   text-transform:uppercase;
   font-style:normal;
   font-size:15.5px;
   margin-left:3px;
}

.navTop
{
outline:0px solid red;
margin:0 auto;
padding:0px;
width:95%;
max-width:1180px;

}

ul.navTopRight
{
outline:0px solid red;
margin:0;
position:absolute;
right:0;
list-style: none;
padding:0;
}

ul.navTopRight li
{
margin-left:20px;
display:inline;
float:right;
outline:0px solid red;

}


a.nav-link.login{
    background-color:#5C5B59;
    color:white;
    font-size:14px;
    transition:.3s;
    padding-top:10px;
}

a.nav-link.login:hover{
    background-color:black;
   }

a.nav-link.requestDemo{color:#5ac1ba; transition:.3s; font-weight:700; font-size:14px; padding-top:10px;}
a.nav-link.requestDemo:hover{color:#b7e4e1; }


li.nav-item.login{display:none;}
li.nav-item.requestDemo{display:none;}



/* This media query reduces the font size right before going into mobile */
@media only screen and (min-width:767px) and (max-width:1100px){

#topNavMain{
outline:0px solid red;
width:64%;
max-width:470px;
height:75px;
margin-top:1px;
padding:8px 0px 0px 10px;

}

#topNavMain ul li a{
  font-size:14px;
  font-family:open sans, arial, sans-serif;
  font-weight:600;
  letter-spacing:0px;
  margin:-9px 0px 0 0px;
  padding:27px 10px 0;
  height:76px;
}

a#logo img{
    width:200px;
    margin-top:-3px;
    margin-right:7px;

}

a#CTA{
    display:block;
    float:right;
    margin:-56px 0px;
    color:white;
    background-color:#e78024;
    padding:7px 15px 7px 15px;
    font-size:15px;
    font-weight:600;
    border-radius:5px;
    font-family:open sans, arial, sans-serif;
    transition:.3s;
}

}

@media only screen and (max-width:900px)
{

a#logo img{
    width:225px;
    margin-top:-5.5px;

}

    a#CTA{
    display:none;
 }

    a#CTAmobile{
    display:block;
    width:100%;
    height:40px;
    color:white;
    background-color:#e78024;
    padding:5px;
    font-size:20px;
    font-weight:600;
    text-align:center;
    font-family:open sans, arial, sans-serif;
    transition:.3s;
}

    a#CTAmobile:hover{
    text-decoration:none;
    background-color:#d5670a;
}

}


ul.navTopRight li:last-child
{
margin-left: 0px;
}


/*****Dropdown navs******/

.dropdown-menu{
  background-color:#E9E6E4;
  background-color:white;
  padding:0px;
  position:relative;
  top:77px;
  left:2px;
  border:0px;
  transition:.3s;
  font-family:open sans,arial,sans-serif;
  border-radius:0px;
  box-shadow:0px 5px 6px black;
  opacity:.98;

}

#topNavMain .dropdown-item{
  height:0px;
}

@media only screen and (min-width:767px) and (max-width:1100px){
.dropdown-menu{
  top:65px;
  left:0;
  }
}

.dropdown-menu p{
  color:black;
  font-weight:700;
  margin:5px 0 5px 9px;
  font-size: 14.5px;
}

#topNavMain .dropdown-item{
  font-weight:400;
  position:relative;
  left:0px;
  width:100%;
  transition:.3s;
}

#topNavMain .dropdown-item{

}



#topNavMain .dropdown-item:hover{
  background-color:#c8edea;
}

@media only screen and (min-width:768px) and (max-width:900px)
{


  #topNavMain .dropdown-item{
    font-weight:400;
    position:relative;
    left:0px;
    width:100%;
  }
}


#navbarNavDropdown{
    transition:.15s;
}

@media only screen and (max-width:767px){

.dropdown-menu{
  background-color:#E9E6E4;
  box-shadow:none;
  opacity:1;

}

#topNavMain .dropdown-item:hover{
  background-color:#CFCCC8;
}

.dropdown-toggle::after{
  display:initial;
  position:relative;
  top:17px;
  left:7px;
}


#topNavMain{
  width:100%;
  max-width:100%;
  padding:0;
}

  .navMainWrap{
    padding:0;
  }

  #topNavMain ul{
    padding:0;
    margin:15px 0px 0px;
    width:100%;
  }

.navMainWrap, .dropdown-item{
    width:100%
   }


#topNavMain ul li a{
   font-size:15px;
   font-family:open sans, arial, sans-serif;
   font-weight:400;
   letter-spacing:0px;
   color:black;
   transition:.3s;
   margin:-10px 0px 11px 0px;
   height:45px;
   padding:10px 10px 10px 15px;
   outline:0px solid red;
}


#topNavMain ul p{
   margin:10px 0px 10px 15px;

}



a#logo img{
    width:225px;
    margin-top:-7px;
    margin-bottom:15px;
    margin-left:15px;

}

  #topNavMain .dropdown-menu{
    background-color:#edeceb;
    margin-top:-11px;
    margin-bottom:15px;
    margin-left:0px;
    width:100%;
    border:0px;
    transition:.3s;
    font-family:open sans,arial,sans-serif;
    border-radius:0px;
    padding:0px;
  }

    #topNavMain .dropdown-menu a.dropdown-item{
    padding-left:25px;
  }

button.navbar-toggler{
    position:absolute;
    right:12px;
    top:-55px;
    outline:0px solid red;
}


a.nav-link.login{
   display:none;
}

a.nav-link.requestDemo{
   margin-right:-11px;
}

li.nav-item.login{display:initial;}



.navTopWrap h6
{
 width:100%;
 letter-spacing:-.2px;
 font-size:12px;
 margin-top:10px;
}

.navTopWrap h6 span
{
   font-size:14px;

}

#topNavMain .dropdown-item{
  height:40px;
  margin:0px;
}



#topNavMain ul li a{
  font-weight: 700;
  font-size: 16px;
  color:black;
}

#topNavMain ul li a:hover{
  border-bottom: 0px solid #13a79d;
}

}


@media only screen and (max-width: 413px){


a#logo{
    margin-top:12px;

}


a#logo img{
    width:175px;
    margin-top:5px;
    margin-bottom:17px;
    margin-left:15px;

}



  a.nav-link.requestDemo{
   display:none;
}

.navTopWrap h6
{
 width:100%;
 text-align:center;
}

li.nav-item.requestDemo{
  display:initial;
}

button.navbar-toggler{
    position:absolute;
    right:12px;
    top:-52px;
    outline:0px solid red;
}

}

/* Allows for dropdown menus to activate on hover, as bootstrap defaults to click*/


@media screen and (min-width: 768px) {


  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
		display: block;
	}

	/* Potentially unnecessary

	.dropdown-menu{
		margin-top: 0;


	.dropdown-toggle{
		margin-bottom: 2px;
	}
	.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
		margin-bottom: 0;
	}
	}*/
}
