/* stying for the "northern lights" effect in the article hero */


.light.one{
  height:30%;
  background: #0EA69C;
  filter:blur(50px);
  transform-origin: center;
  position:absolute;
  bottom:-75px;
  left:0%;
  width:100%;
  border-radius:50%;
  animation:lightOne 25s infinite;
  z-index:1;
}

@keyframes lightOne{
  0%{transform:scale(1.5, .5); left:0%; opacity:.5;}
  50%{transform:scale(1.5, 1.5);left:0%; opacity:.75;}
  100%{transform:scale(1.5, .5);left:0%; opacity:.5;}
}

/* .articleHeadContain, .articleHeadWrap, .articleHero{
  outline:1px solid red;
} */

@media only screen and (max-width:767px){
  .light.one{
    bottom:-50px;
  }
}
